[2019-01-02 12:54] miranthajayatilake opened #1 "What variables give the best results?"
Hi,

Great work on this execution!

Due to GPU limitations I'm currently having I was not able to run the entire `launcher.py` as in the repo. But I ran `TGAN_synthesizer.py` separately on several datasets and the results were somewhat ok.

Can I have an idea on what tunable parameters out of below gave the best results according to your experience?
[code]

For example on the **Census dataset**.

[2019-01-15 12:12] leondavi opened #2 "Windows 10 FileNotFoundError: [Errno 2]"
Running TGAN on windows 10 and getting the following error:

`Traceback (most recent call last):
  File "src/launcher.py", line 134, in <module>
    run_experiment(task)
  File "src/launcher.py", line 108, in run_experiment
    evaluate_res = pool.map(evaluate_worker, commands)
  File "C:\Users\David Leon\AppData\Local\Programs\Python\Python36\lib\multiprocessing\pool.py", line 288, in map
    ret

[2019-01-23 10:29] ManuelAlvarezC opened #3 "Project scaffolding"
Create a project scaffold using https://github.com/DAI-Lab/cookiecutter-pypackage.

[2019-02-07 16:27] lapidshay commented on #2
same problem here.
thanks in advance

[2019-02-12 17:26] magneticnorth opened #4 "documentation - checkpointing and reusing models"
Hi. This is very interesting software. Thank you for providing it.  It seems to run stably.  Congratulations, this is not easy.

How do you restart a training run from a checkpoint?

How do you generate new data from an existing model?

[2019-02-18 14:32] SwearyStats commented on #2
I also have the exact same problem and cannot get this to work on Windows 10 but appears to run with minimal alteration fine on Linux.

thanks in advance

[2019-02-19 15:13] leix28 commented on #1
Here are the hyper parameters we used.
[code]

[2019-02-19 15:31] leix28 commented on #2
This issue is caused by the multi-processing mechanism on windows. I uploaded `launcher_simple.py` which removes the process pools. It should work on Windows now.

[2019-02-19 15:46] leix28 commented on #4
`launcher.py` is designed to automatically do hyper parameter random search  on multiple datasets. Thus it is not very straightforward to restart training and generate new data from an existing model. But you can still do that.

- Go to the experiment folder, find the `param.json`, and get all the hyper parameters.
- To restart training, run `python3 src/TGAN_synthesizer.py [...] --data xxx.npz --

[2019-02-22 07:08] Zhiyu-Chen opened #5 "Version of tensorpack?"
Got the following error:
[code]

It seems the newest version of tensorpack is not compatible with the version used in the implementation.

[2019-02-27 16:44] leix28 commented on #5
Please try tensorpack 0.8.9. Sorry for the inconvenience.

[2019-02-27 16:44] #5 closed

[2019-02-27 16:44] #4 closed

[2019-02-27 16:44] #2 closed

[2019-02-27 16:45] #1 closed

[2019-03-25 14:54] TrinhDinhPhuc opened #6 "Error: skip census, folder exist."
[code]

Why i faced this issue?
Here's my demo_config.json file:
[code]

[2019-03-25 15:11] #6 closed

[2019-03-25 15:12] TrinhDinhPhuc opened #7 "No such file or directory"
Why i faced this error? I thought that `synthetic1_4.npz` is automatically generated
`FileNotFoundError: [Errno 2] No such file or directory: 'expdir/KDD/synthetic1_4.npz'`

[2019-03-25 15:26] ManuelAlvarezC commented on #7
Hi @TrinhDinhPhuc,

Would you mind sharing with us some more details like:
- OS version
- Python version
- List of steps to reproduce the error + Full output
- Contents of the json config file

Thanks.

[2019-03-26 00:46] TrinhDinhPhuc commented on #7
Hi I am using Ubuntu 18.04, python 3.6, this is my configuration file
 [
    {
        "name": "census",
        "num_random_search": 10,
        "train_csv": "data/census-train.csv",
        "continuous_cols": [0, 2, 3, 4, 5],
        "epoch": 5,
        "steps_per_epoch": 10000,
        "output_epoch": 3,
        "sample_rows": 10000
    }
]

[2019-03-26 00:48] TrinhDinhPhuc commented on #7
I just simply run $python3.6 launcher.py demo_config as the instructions in README

[2019-03-26 12:56] TrinhDinhPhuc commented on #7
Seems like i know why. I run `python3.6`, but the script was profiling `profiling:/home/harry/Downloads/Python-3.7.2/Parser/parser.gcda:Cannot open`. That why python3.7 said numpy  hasn't installed yet but actually numpy has installed on python3.6
`harry@Harry-Savage:~/Documents/GANs-demo/TGAN-master$ python3.6 src/launcher.py src/demo_config.json
[{'name': 'KDD', 'num_random_search': 10, 'train_c

[2019-03-26 17:50] ManuelAlvarezC commented on #7
@TrinhDinhPhuc reading your messages, I suspect that you are installing TGAN and running it natively, without a virtualenv, and this is why your python interpreters are getting mixed.

To solve this, I would like to recommend you [to use a virtualenv](https://docs.python-guide.org/dev/virtualenvs/#virtualenvwrapper). Can you try it?

The commands should be something along these lines:

[code]

You

[2019-03-27 01:22] TrinhDinhPhuc commented on #7
You're awesome, thank you!
I have another question, I will open a new issue, not in this. Please close this thread.

[2019-03-27 01:33] TrinhDinhPhuc opened #8 "Some questions about TGAN"
While reading the paper, I have a few questions about TGAN:
* Can TGAN generate labels as well or just features?
* How much of synthetic data should I set to generate? (For example, I have tabular data with 100.000rows and 6 columns)
* Could you give me the description of this dataset? `https://s3.amazonaws.com/hdi-demos/tgan-demo/census-train.csv`

[2019-03-27 01:34] #7 closed

[2019-03-27 05:50] TrinhDinhPhuc opened #9 "Why my model was retrained?"
After 4 hours of training,
this is the log:

[code]

The model was automatically retrained and it showed:

[code]
[code]

[2019-03-27 12:03] ManuelAlvarezC commented on #9
Hi @TrinhDinhPhuc,

Would you mind sharing with us some more details like:

* List of steps you used
* Contents of the JSON config file

Thanks.

[2019-03-27 12:55] TrinhDinhPhuc commented on #9
Hi I am using Ubuntu 18.04, python 3.6, this is my configuration file

[
{
"name": "census",
"num_random_search": 10,
"train_csv": "data/census-train.csv",
"continuous_cols": [0, 2, 3, 4, 5],
"epoch": 5,
"steps_per_epoch": 10000,
"output_epoch": 3,
"sample_rows": 10000
}
]

I just simply run $python3.6 src/launcher.py demo_config.json as the instruction in README. After 4 hours, it was training `e

[2019-03-27 14:07] TrinhDinhPhuc commented on #9
Here is the error:
[code]

my config file:
[
    {
        "name": "KDD2",
        "num_random_search": 10,
        "train_csv": "data/KDD2.csv",
        "continuous_cols": [0, 2, 3, 4, 5],
        "epoch": 2,
        "steps_per_epoch": 5000,
        "output_epoch": 3,
        "sample_rows": 5000
    }
]

[2019-03-28 05:43] leix28 commented on #8
- Can TGAN generate labels as well or just features?
  - Yes. Both features and labels are considered columns in a table, so there's nothing different between labels and features.

- How much of synthetic data should I set to generate? (For example, I have tabular data with 100.000rows and 6 columns)
  - You can generate as much as you like.

- Could you give me the description of this dataset?

[2019-03-28 07:47] TrinhDinhPhuc commented on #8
Thank you.
A few more questions:
I am using TGAN for KDD dataset, here are 6 futures that I have chosen and 1 label`(duration: numerical, protocol_type: categorical, Src_bytes: numerical, Dst_bytes: numerical, Count: numerical, Srv_Count: numerical, label: categorical)`
And here is sample one row which I extracted from `synthetic0_1.npz` and read it using `numpy`:
[code]
This is real data
`[5607,

[2019-03-28 07:50] TrinhDinhPhuc commented on #8
Also, there is one problem occurred. Which I have not trained TGAN successfully yet
https://github.com/tensorpack/tensorpack/issues/1123, please help me this.

[2019-03-29 11:19] ManuelAlvarezC commented on #9
Hi @TrinhDinhPhuc,

Regarding your first question:

There is no problem, nor the model was retrained, let's see what happened:

1. According to your first config json:

[code]

You are running 10 parallel random searches of model hyperparameters, according to the parameter `num_random_search`. That is, training and evaluating different model instances with different sets of hyperparameters, to fin

[2019-03-30 03:47] TrinhDinhPhuc commented on #9
Hi, based on your explanation. I modified my config file like this to check the code:
[
    {
        "name": "KDD2",
        "num_random_search": 1,
        "train_csv": "data/KDD2.csv",
        "continuous_cols": [0, 2, 3, 4, 5],
        "epoch": 1,
        "steps_per_epoch": 10,
        "output_epoch": 1,
        "sample_rows": 5
    }
]
However, the script was like this, it was not running for

[2019-03-30 10:02] TrinhDinhPhuc commented on #9
![Screenshot from 2019-03-30 18-57-27](https://user-images.githubusercontent.com/14198992/55274648-b3f75a80-531d-11e9-8927-ea5467143d42.png)
As you can see here, it seems like it was freezing at this line `sample(args.sample, Model(), args.load +".index", output_filename=args.output)`. In the picture, it was Restoring checkpoint from `train_log/TGAN_synthesizer:KDD2-0/model-10 ...` but in the fold

[2019-04-01 13:13] ManuelAlvarezC commented on #9
Hi @TrinhDinhPhuc,

Regarding your first question:

Seeing your configuration file and the code, there is something that may cause trouble:

[code]

We just found out that there is a bug which prevents TGAN from working properly when sampling a number of rows that is not an exact multiple of the `batch_size`.

To work around this problem, and since the only possible batch sizes that TGAN can use r

[2019-04-01 13:16] ManuelAlvarezC commented on #8
The questions about training your model are being answered [here](https://github.com/DAI-Lab/TGAN/issues/9), so I'll close this issue.

[2019-04-01 14:21] TrinhDinhPhuc commented on #8
Please close this issue https://github.com/DAI-Lab/TGAN/issues/9 not this one. Because the question above has not been answered. Thank you.

[2019-04-01 15:49] ManuelAlvarezC commented on #8
Hi @TrinhDinhPhuc,

Sorry, I had not seen it. Let's get it answered.

This is because the `npz` contents are not yet the final output.

This file contains an intermediate output which still needs to be post-processed in order to produce
the actual sampling output, which will end up being stored in a `.csv` file.

The file which you should be looking for is called `synthesized0_1.csv`. If you canno

[2019-04-01 23:37] TrinhDinhPhuc commented on #8
Yes, you're right. I could not find `synthesized0_1.csv` file. Seems like training process haven't finished successfully yet.
Sure this is some raw lines of my CSV file:
[code]

[2019-04-01 23:40] #9 closed

[2019-04-02 00:21] TrinhDinhPhuc commented on #8
Oh, finally I have trained successfully. Would you mind review a little bit about this synthetic data (table on the right)? The result quite bad actually. As you can see in the real data (table on the left), there are no negative values. And the value of column `A` & `C`, seems like all rows their value is the average number of the whole column.
Here are those metrics I used:
[
    {
        "name

[2019-04-02 00:27] TrinhDinhPhuc opened #11 "Select action while training"
While training, this announcement showed up on the terminal all the time. What does it really mean?
[code]

[2019-04-02 10:34] ManuelAlvarezC commented on #11
This is just normal behavior from  [Tensorpack](https://tensorpack.readthedocs.io/modules/utils.html#module-tensorpack.utils.logger): It warns you  when you are trying to store logs on a folder which already has from some previous training session.

[2019-04-02 10:34] #11 closed

[2019-04-02 17:44] ManuelAlvarezC commented on #8
Hi @TrinhDinhPhuc,

I think that in order for the model to be able to generate valid values, you should increase `steps_per_epoch` to values similar to  the ones present in the  `demo_config.json`, that is, **10000 steps per epoch**, which in turn will increase the training time.

[2019-04-03 00:11] TrinhDinhPhuc commented on #8
Thank you. What about my question "Also, could you explain to me these values in exp-result.csv file?" above?

[2019-04-03 15:20] csala commented on #8
@TrinhDinhPhuc this does not seem to be related to the questions which you opened this issue for,
and also this is clearly explained in the README, so I think this issue can be closed already.

If you have any other doubt about TGAN which is not already responded on the README or [the paper](https://arxiv.org/pdf/1811.11264.pdf), please feel free to open a new issue to ask about it!

[2019-04-03 15:20] #8 closed

[2019-04-08 08:28] TrinhDinhPhuc opened #12 "Understand stats in Trainlog file"
`{"QueueInput/queue_size": 50.0, "GAN_loss/gen/loss": 0.9750093221664429, "GAN_loss/gen/klloss": 0.27809518575668335, "GAN_loss/gen/final-g-loss": 1.2531044483184814, "GAN_loss/discrim/loss": 0.6561644077301025, "GAN_loss/discrim/accuracy_real": 0.0, "GAN_loss/discrim/accuracy_fake": 1.0, "epoch_num": 5, "global_step": 1000}`
Could you please clarify these metric and their values. How good or how

[2019-04-08 12:17] TrinhDinhPhuc opened #13 "Understand parameters in exp-params.json file"
I am reading parameters in `exp-params.json` file. There are some parameters I don't understand them completely. Could you please explain it to me?
[code]

[2019-04-08 15:38] yuanyingfang23 opened #14 "Vector Dimensions"
Hi, could I ask how you deal with the different dimensions vectors in Generator part? Since categorical data converted into one-hot learning vector may has larger dimensions than continuous data as input.

[2019-04-09 00:29] TrinhDinhPhuc opened #15 "Generated invalid values"
As you recommended me from this issue https://github.com/DAI-Lab/TGAN/issues/8
I have increased `steps_per_epoch` to get better performance.
Here is my `demo_config.json` file:
[code]
This is some raw lines of real data:
6 features and 1 label `(duration: numerical, protocol_type: categorical, Src_bytes: numerical, Dst_bytes: numerical, Count: numerical, Srv_Count: numerical, label: categorical)`

[2019-04-10 17:44] leix28 commented on #14
The LSTM generates feature vectors for each column. Then a column specific fully connected layer is responsible for converting a feature vector to an output vector. Since each column has its own fully connected layer, a vector with correct size can be generated for each column.

[2019-04-10 19:22] yuanyingfang23 commented on #14
Hi Lei, thanks for your reply. For my current understanding, the generator part is implemented by LSTM, tabular data in a row will be looked as a sequence, each column represents each time step. Afterwards,  each time step in LSTM will be processed by different fully connected layers separately? In this way, weights in each individual full connected layer does not share to others.

[2019-04-11 10:20] ManuelAlvarezC commented on #13
Hi @TrinhDinhPhuc,

Sure:

* `z_dim`: Number of dimensions in the noise input for the generator.
* `noise`: Upper bound to the gaussian noise added to categorical columns.
* `num_gen_rnn`: Number of units in rnn cell in generator.
* `num_gen_feature`: Number of units in fully connected layer in generator.
* `num_dis_layers`: Number of layers in discriminator.

[2019-04-11 10:37] ManuelAlvarezC commented on #15
Thanks for reporting this @TrinhDinhPhuc

This is, indeed, one of the restrictions that TGAN currently has: numerical columns are considered to be defined in the Real domain, which means that negative values are also sampled.

We will make sure to make this clearer in the documentation in the future.

For now, the way to overcome this restriction is applying a function that transform  your only-po

[2019-04-11 10:41] #13 closed

[2019-04-11 11:45] ManuelAlvarezC commented on #12
Hi @TrinhDinhPhuc,

I see in these values that you are still training with 200 steps per epoch. As we discussed in #8, this is absolutely not enough, so these results are obviously awful. Please fix this before starting to think about any results.

Regarding what the values mean, these are the scores obtained during the evaluation. Please make sure to review the paper to have better understanding

[2019-04-11 11:45] #12 closed

[2019-04-11 11:45] #15 closed

[2019-04-11 12:20] TrinhDinhPhuc commented on #12
Oh sorry, i copied the stats of the old one. This is the stats file which was training with 10000 steps per epoch. Please open this issue. Thanks
`{"QueueInput/queue_size": 50.0, "GAN_loss/gen/loss": 1.6636285781860352, "GAN_loss/gen/klloss": 0.10859352350234985, "GAN_loss/gen/final-g-loss": 1.7722220420837402, "GAN_loss/discrim/loss": 0.6533578038215637, "GAN_loss/discrim/accuracy_real": 0.579999

[2019-04-19 11:39] TrinhDinhPhuc opened #17 "Why restoring checkpoint is run on CPU not GPU?"
This is my question, which has been posted on SOF https://stackoverflow.com/questions/55755668/why-restoring-checkpoint-is-run-on-cpu-not-gpu
Could you please explain it to me?

[2019-04-23 14:46] ManuelAlvarezC commented on #17
Hi @TrinhDinhPhuc,

Could you post the commands you used and the full output in order to reproduce the issue?
Also, at what moments where you checking using nvidia-smi?

Thanks.

[2019-04-23 16:11] TrinhDinhPhuc commented on #17
I just followed your instruction in README file. I check **nvidia-smi** when it was training, each epoch only need a few minutes to finish. But in the restoring checkpoint period, i checked again the python process on GPU was gone, That why restoring checkpoint needed 4-5 hours to finish.

[2019-04-25 17:23] leix28 commented on #14
Correct.

[2019-04-26 11:07] yuanyingfang23 commented on #14
Thanks a lot

[2019-04-26 11:07] #14 closed

[2019-05-01 12:24] #3 closed

[2019-05-06 08:42] soft-nougat opened #19 "List of all the requirements for TGAN installation?"
Hey Team,

Thanks so much for this package! :)

Can you please confirm all of the requirements for TGAN installation? I remember there being a section in readme about this, but right now it only states Python is a requirement. Sorry if I am missing something!

Thanks again,
Tia

[2019-05-06 09:59] csala commented on #19
Hi @soft-nougat

Dependencies are now implicitly listed inside the `setup.py` file.

However, from now TGAN can be installed as a standard python package using [pip](https://pypi.org/project/pip/), so you do not need to care about dependencies anymore, as `pip` takes care of them when you issue the `pip install tgan` command.

Please check the README or [the docs](https://dai-lab.github.io/TGAN/re

[2019-05-06 10:06] soft-nougat commented on #19
Thanks Csala! Closing this one. :))

[2019-05-06 10:06] #19 closed

[2019-05-06 11:35] ManuelAlvarezC opened #20 "Add a CLI"
Currently the CLI only support the `research` command, used to keep backwards compatibility.

We should extend its funcionality to allow to `fit` and `sample` directly from the command line.

[2019-05-06 11:43] ManuelAlvarezC opened #21 "Add support for GPU and multiGPU"
We should support GPU and multiGPU training and sampling, allowing to:

- Select the desired behavior with a parameter
- Select the best available option in case none is provided

[2019-05-06 16:55] ManuelAlvarezC commented on #17
From what you say, it clearly seems that the research version of TGAN was not restoring the checkpoints properly.
In any case, we have just released a new version of the software, which is the one that will be maintained from now on, so it would be better if you switch to the latest one.
Bear in mind that GPU support has been temporarily removed in this later version but will be added back shortly

[2019-05-06 16:55] #17 closed

[2019-05-14 13:58] soft-nougat opened #22 "How to bring down the number of epochs in example python notebook and generate samples based on log files?"
Hey Team!

Just looking to test this package out, so I lowered the nr of epochs in the example\config.json file to 1. Still, the model won't take 1 epoch into consideration and continues to run the second epoch. Am I looking at the wrong file? Should I bring down epochs somewhere else?

On the other hand, can you please advise how I can sample data by using the log files created in the output fold

[2019-05-20 08:42] Baukebrenninkmeijer commented on #21
Hi @ManuelAlvarezC, how is this going? I would like to train with TGAN, but that's kinda hard without GPU.

[2019-05-21 15:22] ManuelAlvarezC commented on #22
Hi @soft-nougat, and thanks for your interest!!

It seems like you might be using the old version of TGAN?
From the latest version on, TGAN can be used directly from Python.
Please check the quickstart from the documentation, as it will probably clarify most of your doubts: https://dai-lab.github.io/TGAN/readme.html#quickstart

[2019-05-22 07:52] soft-nougat commented on #22
Hey Manuel!

Thanks for the reply. I should be using the latest version as I installed the tgan package.

Also, I am following the quickstart,  but there are no instructions on how to lower the epochs in the fit model step. As mentioned, I changed the number of epochs in the config json file but it didn't work.

Thanks!
Tia

[2019-05-22 15:04] Venseven opened #23 "census data postprocessing issue"
I have trained the census data ....after training and on restoring checkpoints it kind of stucks in generating samples...have attached the issue
![issue](https://user-images.githubusercontent.com/47088590/58185593-01b29280-7cd1-11e9-8141-1476d3401a4a.png)

[2019-05-22 15:43] ManuelAlvarezC commented on #22
HI @soft-nougat,

You have to set them when creating the `TGANModel` instance, you can have a full reference of the constructor arguments [here](https://dai-lab.github.io/TGAN/readme.html#model-parameters)

That's what confused me, as the `config.json`  is used only with the CLI to run the random hyperparameter search. Since you are using the Python API, you can ignore it and set the number of epo

[2019-05-22 15:50] ManuelAlvarezC commented on #23
Hi @Venseven,

Would you mind sharing with us which version of TGAN you used and the commands you run?

Thanks

[2019-05-22 15:51] ManuelAlvarezC commented on #21
Hi @Baukebrenninkmeijer,

We are currently planning the next steps on the project, so I can't give you an exact answer.
However, we are open to contributions :slightly_smiling_face:, so if you are interested, we can discuss here the implementation details.

[2019-05-22 16:22] Venseven commented on #23
`
import tgan
num_samples=100
model_path="models/covertype_1.pkl"
from tgan.data import load_demo_data
data,c_m=load_demo_data("census")
from tgan.model import TGANModel
tgan_m=TGANModel(c_m,gpu=0)
tgan_m.fit(data)
sample=tgan_m.sample(num_samples)
print(sample)`

tgan --version-0.1.0

[2019-05-22 16:59] ManuelAlvarezC commented on #23
I think that the issue here is that you are trying to sample too few records ( less than the batch size, that defaults to 200). If you try with 1000 samples it should work perfectly.

[2019-05-22 17:24] #23 closed

[2019-05-23 21:34] ManuelAlvarezC commented on #21
Hi @Baukebrenninkmeijer

I'm sure this won't be a big issue.

Indeed, most of the code is already there, what is missing is orchestrating everything. I have updated the original issue with the implementation details, so if you are interested, please let me know, so I can assign this issue to you. If you want to start working on it I recommend you take a look at our [CONTRIBUTING guide](https://dai

[2019-05-23 21:47] Baukebrenninkmeijer commented on #22
I think it might be better to move the epochs/batch_size and other training related parameters to the `.fit()` call. This both aligns it better with the `.fit()` of other APIs like keras and fastai and it feels a bit weird when you're loading a model from disk, and still need to specify the epochs and other training related parameters.

[2019-05-27 09:45] Baukebrenninkmeijer opened #24 "Usage of KL divergence"
I have some questions regarding the paper more than the code specifically. Why did you choose to add the KL divergence as additional loss metric in this way?

More specifically:
1. Why KL divergence instead of any other (JS, etc.). Am i correct in understanding that your loss essentially consists of `loss = JS + KL_col` where JS represents the original GAN loss which minimizes the JS divergence?
2

[2019-05-28 23:10] ManuelAlvarezC commented on #22
Hi @Baukebrenninkmeijer,

This make quite sense, could you please open a new issue so we can continue this discussion there?

@soft-nougat, did you manage to solve your issue? Please give me a thumbs up so I can close this issue. Thanks

[2019-05-29 00:59] leix28 commented on #24
Hi,

(1) There's no specific reason in choosing KL divergence against other loss functions. You can definitely try other distance metrics or feed extra features to the discriminator.
For example, [MedGAN](https://github.com/mp2893/medgan) feeds the mean and standard deviation of a batch as features to the discriminator. [TableGAN](https://github.com/mahmoodm2/tableGAN) explicitly optimizes the eac

[2019-05-29 11:39] Baukebrenninkmeijer opened #25 "Change `.fit()` call to more closely align with other `.fit()` calls like keras and fastai."
As the title states, the `.fit()` call is different now in that the batch_size, nr_epochs are set in the object initialization rather than the start of training. To more closely align this call with other standards like keras and fastai, these should be moved.

[2019-05-29 11:39] #24 closed

[2019-05-29 12:06] Baukebrenninkmeijer commented on #24
Ah, this is exactly what I've been experimenting with. Using the WGAN-GP architecture. However, in my testing this hasn't improved results, giving worse covariance matrices and worse per column distributions compared to the real dataset. Have you gotten improved results with this?

The SDGym is exactly something I was thinking of and will be working on for my Thesis, which I'm doing now. I'm very

[2019-05-29 14:48] Baukebrenninkmeijer commented on #25
Hi, I opened this from #22, where @ManuelAlvarezC asked me to create a new issue.

I agree that batch_size is not the best example, cause it changes the model. However, I do think there are more parameters than just epochs that are best suited in the `fit` call, take for example learning rate, batches per epoch, and whether to save and/or restore checkpoints. I think that might also be all of them

[2019-05-29 15:02] csala commented on #25
Yes, I saw it! It was just to comment a bit and enrich the discussion.

I agree that we could put more things, not only epochs. But the things we put should be only those that you might want to change. Perhaps we can list candidates here?

About the ones you said, the batches per epoch and the and the learning rate are things that might change the overall convergence of the model, so I don't see t

[2019-05-30 15:48] ManuelAlvarezC commented on #25
Hi,

Thanks for open the issue @Baukebrenninkmeijer.

About the subject of discussion:

I think that moving `max_epochs` and `steps_per_epoch` to the fit method could make sense, however, I have to agree with @csala about `restore_session` and `save_checkpoints` that even if it can be done it doesn't seem specially useful.

Any other candidate to be moved to `.fit()`?

[2019-05-31 08:38] Baukebrenninkmeijer commented on #25
Hmm, I would like to add my perspective on not including the `restore_checkpoints`, `lr` and `save_checkpoints`.  I see your point on them, which makes sense in classic development methods, but as someone who works almost exclusively in notebooks, having the `.fit` call have the flexibility to experiment with different settings at run time is very useful. Most notably, the `lr` parameters is very

[2019-06-04 08:19] soft-nougat commented on #22
Thanks Manuel and Bauke!

Very helpful, I will close the issue. :)

Tia

[2019-06-04 08:19] #22 closed

[2019-07-02 09:07] culeforlife opened #26 "Issue with the output of the model"
Hello everyone. I'm new to GANs as I need them to create more tabular data for my database. I came across this implementatin (thank you btw), but I have a problem with the output at the .sample() step. I've changed the parameter to test first, here's my code :

tgan = TGANModel(continuous_columns,output='output',max_epoch=5,steps_per_epoch=1000,save_checkpoints=True,restore_session=True,batch_size

[2019-07-03 11:22] ManuelAlvarezC commented on #26
Hi @culeforlife, and thanks for reporting this issue.

This is a known error and  can be solved by just changing the `num_samples` to a value higher than the `batch_size`.

[2019-07-05 19:25] culeforlife commented on #26
Thank you for answering ! I wanted to try with your suggestion, but I'm getting another error :
InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [100,5] rhs shape= [100,43]
	 [[{{node 2860522807872/Assign_786}}]]

I guess it's due to checkpoint, but I have no idea from where can I delete it, any idea please ?

[2019-07-05 19:44] culeforlife commented on #26
Thank you for answering ! I wanted to try with your suggestion, but I'm getting another error :
InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [100,5] rhs shape= [100,10]
[[{{node 2617800806904/Assign_624}}]]

Any idea please ?

[2019-07-05 22:11] culeforlife commented on #26
All good now, thanks !

[2019-07-05 22:11] #26 closed

[2019-07-10 14:43] culeforlife opened #27 "Computation time"
Hi, I have a question about the computation time needed ! In my case, I have a dataset of 1450 rows and 168 features and it takes about 2 hours and 16minutes to generate samples witch 5 epochs and 100 steps per epoch. This means that I will need days in order to run the model with 10000 steps. Is this normal ?
PS : I have 8GB of RAM

[2019-07-11 11:15] ManuelAlvarezC commented on #27
Hi @culeforlife,

Yes, it's normal. The training of TGAN lasts for quite long, we even warn about it in the README:

[2019-07-18 13:24] Venseven opened #28 "Negative samples"
My original data's columns contains some sparse negative columns and some zeros ....After generation  it becomes like a dense negative columns and there is no zeros ...instead of zeros they are like constant negative samples...How can i overcome this sampling?

[2019-07-18 13:51] #27 closed

[2019-07-21 16:41] MurugeshMarvel opened #29 "How the attention is created."
Forgive me if this is naive. You are applying softmax to the variable `attw` immediately after creating it without performing operations with respect to the input or any other variable. This is different from the conventional attention mechanisms that  I am used to in NLP. Is there any particular reason?

[2019-07-26 10:53] bbb801 opened #30 "Error with small sample size data"
Dear Sir,

I have used a sample size to be 100 rows and set the parameters like this,

[code]
### It has an error:

[code]
# Could you give some suggestions? Thanks.

[2019-08-05 16:12] ManuelAlvarezC commented on #30
Hi @bbb801  and thanks for reporting this issue.

I think the root of your problem is that, either being aware or not, you are reusing a fitted model, but instantiating it with different parameters, which causes the crash.

I think that instantiating `TganModel` using either `restore_session=False` ( which will ignore the previous model and overwrite it), another value for the `output` keyword arg

[2019-08-05 16:28] leix28 commented on #29
It's different. In NLP, the attention weights depend on the context. So the model should use the hidden representation of the context to generate an attention weight. However, here in synthetic tabular data, the correlation is somewhat fixed. So it is easier and more effective to simply learn the attention weight.

[2019-08-12 14:06] ManuelAlvarezC commented on #29
Hi @MurugeshMarvel,

Did Lei's answer solve your issue? If so, please feel free to close this issue.

Thanks.

[2019-08-12 14:11] ManuelAlvarezC commented on #28
Hi @Venseven,

Could you please provide us some more information, such as:

- Python version/OS.
- Hyperparameters for `TGANModel`.
- An example of the input given and output generated.
- Any warning or error message that may appear during the fit or sampling.

Thanks.

[2019-08-12 14:48] MurugeshMarvel commented on #29
thanks @leix28

[2019-08-12 14:48] #29 closed

[2019-08-13 07:21] georgeMcMahon opened #32 "example doesn't run"

[2019-08-13 10:37] ManuelAlvarezC commented on #32
HI @georgeMcMahon,

Could you please provide us some more information, such as:

- Python version/OS.
- Hyperparameters for `TGANModel`.
- Any warning or error message that may appear during the fit or sampling.

Thanks.

[2019-08-19 11:52] georgeMcMahon commented on #32
Hi manuel,

apologies - this was not TGANs error but my own I think. It is working fine now,

thanks,

George

[2019-08-19 11:52] #32 closed

[2019-08-19 21:51] georgeMcMahon commented on #21
Hi Manuel,

is it possible to run TGAN on GPU? I am finding it is running slowly on my CPU.

If I uninstall tensorflow and TGAN and then install tensorflow gpu and reinstall TGAN, will TGAN then automatically train on my GPU? GPU train is already working for other neural nets on my machine,

thanks,

George

[2019-08-19 23:18] upura opened #33 "Column names are replaced by index"
Dear all,

I used TGAN in PyPI (ver 0.1.0) and found that column names of the original DataFrame are replaced by index.

## Problem

I suppose the problem is derived from the following lines:
https://github.com/DAI-Lab/TGAN/blob/master/tgan/data.py#L321-#L322

In L321, column names of the original DataFrame are assigned into `self.columns`. And in the next line, column names of the original DataFr

[2019-08-20 19:39] Baukebrenninkmeijer commented on #21
@georgeMcMahon TGAN should be independent of your tensorflow installation. Tensorflow should automatically use the GPU if it is available, so make sure this is the case. Check if you have the correct NVIDIA drivers, Cuda toolkit, Cudnn and tensorflow and if tensorflow has access to the gpu.

What library are you using for your other neural nets? Also tensorflow? If so, there might be a version mis

[2019-08-21 10:14] ManuelAlvarezC commented on #21
Hi @georgeMcMahon,

Yes it is, as @Baukebrenninkmeijer mentions in the comment above this, TGAN is independent of your tensorflow installation.

Yes, I think that this should work. This issue is open not because TGAN can't work with `tensorflow-gpu` but that we want to make it work in the three scenarios (CPU, GPU and multiGPU) out-of-the-box, you can however, make it work manually.

[2019-08-21 10:43] ManuelAlvarezC commented on #33
Hi @upura and thanks for your question.

I haven't been able in which case that can occur, could you please provide a snippet of code that reproduce your issue?

Thanks.

[2019-08-21 15:54] upura commented on #33
Hello @ManuelAlvarezC, thank you for your reply.

Here is the notebook I used. Sorry for the Japanese comment. After fitting TGAN, it looks that column names are replaced (at cell [16]).
https://github.com/upura/upura.hatenablog/blob/master/books_sites/tgan/tgan-titanic.ipynb

Now I rechecked the codes and I've found that what I said is wrong. But I still can't see why column names are replaced.

[2019-08-21 17:08] kevinykuo commented on #20
Have we thought about what the CLI interface would look like? E.g. maybe `tgan fit` takes a path to a real data csv writes a pkl and `tgan sample` takes a path to a pkl and writes a csv?

[2019-08-25 08:31] amarek1 opened #34 "Question: Running on GPU - VM instance"
Hello,
I am trying to run my TGAN on a Google VM instance with 1 GPU. I am passing an argument 'gpu=0' or 'gpu='0'' to my TGANModel() but it keeps running on CPU rather than GPU. Could you please let me know what I might be doing wrong, is running on GPU supported while just passing a gpu argument or is there something else I should be doing to enable it?
Thank you

[code]

[2019-08-25 18:26] bbb801 opened #35 "Standardation needed?"
Dear contributor,

May I know is it necessary to standard or normalize the data before using the TGAN? Is there a big difference between the results with and without such standardization/normalization? Thanks.

Beato

[2019-08-29 09:00] druzkaya opened #36 "Question about the c_i,j normalisation"
Hello,
I have a question regarding the c_i,j normalization + clipping. The clustering of numerical variables in the multimodal case seems really interesting, but why not just estimating the probability to come from every cluster for variable X, then take the maximum probability and generate the X value given the generated cluster. I don't get the intuition behind this point of methodology.
Thanks

[2019-09-09 04:19] tirthajyoti opened #37 "Number of epochs does not match your homepage docs and example"
Hi,

Thanks for this excellent implementation. I am trying it out now.
Your homepage docs and the Jupyter notebook example say `max_epoch=100` but in fact, in the latest install, **it is set to 5**.

Please reconcile the descriptions. The model is computationally heavy, so it is good to have a realistic expectation about the epochs to run before one starting fitting :-)

[2019-09-09 04:36] tirthajyoti opened #38 "Sampling method parameters are unclear"
Hi,

I am trying out this excellent implementation of tabular-GAN

While the parameters for the `fit` are well illustrated in the docs and the Jupyter notebook example, the `sample` method parameters are not.

Currently, the `sample` method runs very slow. That may be fine for a GAN to generate data, but is there a way to control how much iterations it will run before generating the data? Can some

[2019-09-10 20:48] nabarunaguha opened #39 "Error with large number of columns"
Hi!

I am really intrigued to work with TGAN and it is my first project working with a GAN in general as well.

Recently I trained it with tabular data that contains 1000+ columns and it gave the error:
InvalidArgumentError: Cannot serialize protocol buffer of type tensorflow.GraphDef as the serialized size (3015923402bytes) would be larger than the limit (2147483647 bytes)

I understand I need to

[2019-09-11 16:15] yulisaama opened #40 "TypeError: softmax() got an unexpected keyword argument 'axis'"
So I have Tensorflow version 1.14.0 installed, and this issue is somehow related to different versions. Can TGAN point out which packages and version they are using? Or is there a different approach to solve this issue? Thanks in advance.

[code]

[2019-09-16 16:57] csala commented on #37
Thanks for pointing this out @tirthajyoti !

We'll change the notebook and README asap to match the code (unless you want to do a PR that changes it ;-)

[2019-09-16 17:09] csala commented on #34
Hi @amarek1 this `gpu` argument was left from the first implementation, but it is not being used for anything a.t.m.

It was left there because it will be used again once we re-enable the Multi-GPU support (please check https://github.com/DAI-Lab/TGAN/issues/21)

In the meantime, in order to run the project on a single GPU, all you need to do is to manually remove `tensorflow` and install `tensorf

[2019-09-16 17:09] #34 closed

[2019-09-16 17:10] csala commented on #35
Closing this, as the question was already answered.

[2019-09-16 17:10] #35 closed

[2019-09-16 17:13] csala commented on #30
@bbb801 would you mind reporting whether the comment from @ManuelAlvarezC above did solve the issue?

If so, let us know, so we can close the issue.

[2019-09-16 17:20] csala commented on #33
Thanks for reporting this @upura

The problem seems to be here: https://github.com/DAI-Lab/TGAN/blob/f5b9a9cbd9e4bc2f0755bdcf24daef537594cd72/tgan/data.py#L322

The fix would be to avoid replacing the column names, and rather use an `enumerate` on the subsequent loop to get the right `i` value without having to alter the `data` object.

[2019-09-16 17:25] csala commented on #28
Closing this issue, as it has been inactive for two months. Please, feel free to open it again in case you can provide some more details about it!

[2019-09-16 17:25] #28 closed

[2019-09-16 17:32] csala commented on #38
@tirthajyoti you can find all the API documentation here: https://dai-lab.github.io/TGAN/api/tgan.model.html

In particular, the `sample` method is here: https://dai-lab.github.io/TGAN/api/tgan.model.html#tgan.model.TGANModel.sample

As you can see, there isn't much documentation about the sampling arguments because there is only one argument, which needs no documentation: the number of samples to

[2019-09-16 17:36] csala commented on #40
Hi @yulisaama  You can see the version dependency specifications in the https://github.com/DAI-Lab/TGAN/blob/master/setup.py

Also, when TGAN was released, the latest tensorflow version was `1.13.1`, so this should work without issues.
Version `1.14.0` was released afterwards, so they might have broken their API on that minor release.
We will investigate and restrict the dependency ranges accordin

[2019-09-17 02:51] leix28 commented on #39
For each column, TGAN uses a hidden layer to generate such column. The hidden layers consume a large amount of memory, so it's not easy to adapt TGAN on datasets with 1000+ columns. We developed a new framework called [CTGAN](https://github.com/DAI-Lab/ctgan). It can work on datasets with 1000+ columns.

Thanks,
Lei

[2019-09-17 03:49] leix28 commented on #36
IIUC, you are suggesting that for continuous column, first generate the cluster id using GAN, and then sample a value from the distribution of such cluster. But the distribution within each cluster is still unknown. So it's necessary to use GAN to model the distribution within cluster.

[2019-09-17 16:05] bbb801 commented on #30
Hi,
You can close it. It has been solved by the above method. Thanks a lot.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Carles Sala <notifications@github.com>
Sent: Tuesday, September 17, 2019 1:13:02 AM
To: DAI-Lab/TGAN <TGAN@noreply.github.com>
Cc: LIU Jundong <jdliu4-c@my.cityu.edu.hk>; Mention <mention@noreply.github.com>
Subject: Re: [DAI-Lab/TGAN] E

[2019-09-18 11:42] #30 closed

[2019-09-19 07:25] qwerkkk commented on #38
I am having similar issues with sampling when running following code with Google Colab. Can you comment how long approximately it should take?

[code]

[2019-09-19 10:18] csala opened #41 "Support num_samples < batch_size"
The current implementation ends up in an infinite loop if the `num_samples` is lower than the `batch_size`.

This should be prevented by either always sampling at least one batch, or making the batch_size equal to the num_samples if the later is lower.

[2019-09-19 10:26] csala commented on #38
Hi @qwerkkk I think that you are hitting a different issue. Please have a look at the issue #41 that I just opened.

As you can see there, there is a problem that makes TGAN go into an infinite loop if the number of samples is lower than the batch_size, which defaults to 200.

So, in you case, the snippet of code that you pasted will never end. However, if you change SAMPLES to 200 or higher, the

[2019-09-23 17:33] nabarunaguha commented on #39
Hi @leix28 ,

Thank you so much for suggesting CTGAN.
I tried to run CTGAN on my data but it asks for meta data as well.
I mean, is it possible for me to generate samples from my input data without specifying any limit for each of the columns?
I have 1840 columns and each of the column has a very different range of values, I am a bit lost how to specify this meta file.

Also, I have only continuou

[2019-09-26 20:28] nabarunaguha opened #42 "InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [4860259,100] rhs shape= [240,100]"
Hi,
I am using Tensorflow Version: 1.14.0
My input is 40 continuous columns with 6948 rows.

And the arguments to the TGANModel are something like this:

tgan = TGANModel(continuous_columns,
                 output='output',
                 gpu='/gpu:0',
                 max_epoch=5,
                 steps_per_epoch=1000,
                 save_checkpoints=False,
                 restore_session=T

[2019-09-29 21:43] #42 closed

[2019-10-01 07:45] hasinaattaullah commented on #33
@csala can you please bit elaborate how exactly we will do it?
"The fix would be to avoid replacing the column names, and rather use an enumerate on the subsequent loop to get the right i value without having to alter the data object."
As I am also working on it and I am getting error ,
ValueError                                Traceback (most recent call last)
<ipython-input-5-f27a8b3f518c> in <m

[2019-10-03 11:17] nabarunaguha opened #43 "TGAN crashing at Epoch 1"
Hi,
I am facing this issue for some time and not able to fix this.
* Python version: 3.7
* Operating System: Linux
* TensorFlow version: 1.14.0
* CUDA version: 10.0

### Description
I keep getting this warning and then the execution crashes at Epoch 1.
![TGAN uses CPU](https://user-images.githubusercontent.com/33547804/66120991-7204e500-e5dc-11e9-81f9-9267ccbcb775.PNG)

### What I Did

[code]
And

[2019-10-04 09:44] amarek1 commented on #34
Thank you very much for your help, it works now.

[2019-10-04 10:24] csala commented on #43
Hi @nabarunaguha

Would you mind sharing a short code snippet that shows the exact arguments that you use when creating the TGAN instance and calling the fit and sample methods?

We will then try to reproduce the error to be able to assist you better.

Also, regarding the GPU usage, please check this other issue: https://github.com/DAI-Lab/TGAN/issues/34

So, basically, the `gpu` argument is now b

[2019-10-04 10:38] nabarunaguha commented on #43
Hi @csala ,

Yeah sure, here are my arguments.
`
from tgan.model import TGANModel
`
`tgan = TGANModel(continuous_columns,
                 output='output',
                 gpu='/device:GPU:0',
                 max_epoch=5,
                 steps_per_epoch=150,
                 save_checkpoints=False,
                 restore_session=False,
                 batch_size=50,
                 z_dim=50

[2019-10-10 06:31] jzkoh opened #44 "The graph couldn't be sorted in topological order - during tgan.fit"
Hi,

When I run the experiment or tgan.fit, there will be warning messages as such below, about The graph couldn't be sorted in topological order.

Should this be of concern?

Thank you.

[32m[1010 06:26:22 @base.py:275][0m Start Epoch 1 ...

  0%|          |0/5000[00:00<?,?it/s]2019-10-10 06:26:26.595311: E tensorflow/core/grappler/optimizers/dependency_optimizer.cc:697] Iteration = 0, topologi

[2019-10-10 09:11] jzkoh commented on #44
Hi, thank you for your prompt reply!
I am using the AWS p2.xlarge instance and running this with 1 GPU.
I am running this on the mimic dataset (mimic-3d) from this Kaggle website https://www.kaggle.com/srikanth403/mimic-3d/data

These are my packages:
absl-py==0.8.0
alabaster==0.7.10
anaconda-client==1.6.14
anaconda-project==0.8.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.0
astropy==3.2.1
atomi

[2019-10-11 01:28] jzkoh opened #45 "How to save model during experiment?"
Hi,

I understand that when we are running the tgan.fit using jupyter, we can save the model by using the code after fitting:

Model saved successfully.

However, if I run the experiment in the terminal/command line, how do I save the models for every random hyperparameter search? The purpose is to load the model so that I can regenerate new synthetic data I needed.

Thanks!

[2019-10-11 02:08] jzkoh opened #46 "How to deal with discrete (integer) variables?"
Hi,

Another question I have, for discrete variables, such as age and other integer count variables, should we set them as a continuous column?

From my understanding from your paper, age was assigned as part of the continuous column. However, when I do that, the synthetic output of age would not longer be integers.

Thank you!

[2019-10-19 12:40] jaynetra commented on #46
I have the same question. Can you explain more on the continuous columns parameter.

[2019-10-26 15:49] nevermindthat opened #47 "Random search crash at the end? due to NaN ? on classifier.fit(..)"
Hi,

Thanks for the great paper and code!.
1. I'm trying to reproduce your results for census and covertype datasets, i wasn't able with the out of the box settings, so i tried your random search but ran into this issue.
This issue is about that.

2. I would love to know your parameters settings for census data and covertype.
As they weren't mentioned.
3. Also where can i find the preprocessing co

[2019-11-19 13:11] wxli0 opened #48 "vecs_denorm in model.py"
Is vecs_denorm in build_graph model.py used anywhere? I only see how it is created but not where it is used. Thanks.

[2019-12-05 09:14] wwymak opened #49 "Handling the target variable in data generation (question)"
Hi,
When I am trying to generate the synthetic data, do I need to treat the target column differently? Or would a correctly tuned generator take care of generating the 'correct' labels as well?
(e.g. in data augmentation for images, you don't change the target labels when you are transforming the image)

Thanks!

[2020-01-24 00:44] krishna-nd opened #52 "RuntimeError: dictionary changed size during iteration"
I'm getting the error "RuntimeError: dictionary changed size during iteration" when importing the TGANModel

[2020-01-24 10:20] csala commented on #52
Hello @krishna-nd

In order to be able to help you, we need some more details about the environment where you are running TGAN and exact steps that you are executing to see the error?

Please indicate the following:
- The OS where you are running TGAN
- The Python version you are using
- How you installed TGAN (pip or repository clone)
- The commands that you executed to produce the error
- The fu

[2020-02-03 23:09] krishgn opened #53 "tarfile.ReadError: unexpected end of data"
I'm running tgan in my MacBook. Python version 3.7. Running a Conda environment with tgan all the dependencies installed. I fit the data and saved the model to a specified path. I ran another script to load the saved model. Verified the path and filename. While running the line "new_tgan = TGANModel.load(model_path)", I'm getting the error:
 tarinfo = self.next()
  File "/Users/<...>/envs/tgan_env

[2020-04-02 14:02] leoAshu commented on #34
I have tensorflow-gpu = 1.15.2
CUDA = 10.1 and corresponding cudnn
Upon running the tgan model, it still is using the CPU

Also, I have manually uninstalled tensorflow

Code:

from tgan.model import TGANModel
tgan = TGANModel(continuous_columns)
tgan.fit(data)

[2020-04-28 19:13] afshinmarani opened #55 "How to pass TGANModel hyper parameters as a dictionary"
I am using TGAN to synthesize new data based on an exclusive dataset. I want to tune the TGAN model using a Bayesian approach by means of "hyperopt" library. For this purpose, I need run the TGAN model while the hyperparameters are passed as a dictionary such as below:

tgan = TGANModel(continuous_columns, params, max_epoch=4, steps_per_epoch= 100, batch_size=16, restore_session=False)

where para

[2020-04-30 23:01] afshinmarani commented on #34
Were you able to solve your problem?

[2020-06-16 16:05] glucotrend opened #56 "I have a problem when I try to use 'Random hyperparameter search'"
1. I prepared a dataset and a JSON file.
And I ran the code 'tgan experiments config.json results.json', but it didn't function.
There was a massage 'SyntaxError: invalid syntax'

2. So, I checked the API reference('https://sdv-dev.github.io/TGAN/api/tgan.research.experiments.html').
And I found the code '**tgan.research.experiments.run_experiments(config_path, output_path)**'

3. However, when I

[2020-06-16 16:43] glucotrend commented on #56
4. I found that I have to import experiments with the code 'from tgan.research import experiments'. And I ran the code 'tgan.research.experiments.run_experiments(~~information of my cases~~)'

5. However, I met another error massage 'ValueError: Passing negative integer to header is invalid. For no header, use header=None instead'. (I have no negative integer in my data. Data composed of positive

[2020-06-18 06:22] tanmaysgs commented on #56
I'm facing a similar issue and I'm using a JSON like this:
`{
    "name": "tgan_randomSearch1",
    "num_random_search": 10,
    "train_csv": "./data/dataset_sample.csv",
    "continuous_cols": ['var1','var2','var3', 'var4', 'var5', 'var6', 'var7', 'var8', 'var9', 'var10', 'var11'],
    "epoch": 5,
    "steps_per_epoch": 5000,
    "sample_rows": 5000
}`

when running `tgan.research.experiments.run

[2020-08-02 21:04] kveerama opened #57 "Fixing random seed to reproduce the same results"
A question about your TGAN code. We need to avoid any randomness for reproducibility purposes. We were wondering if there is a way to avoid this? We have tried to set the random seed, but it seems like there is randomness involved somewhere that we can not control over. We will appreciate your response.

[2020-08-02 21:06] kveerama commented on #57
From @leix28  The randomness comes from the data transformation

https://github.com/sdv-dev/TGAN/blob/master/tgan/data.py#L239.

`TGAN` fits Gaussian Mixture models (GMM) on all continuous columns and transforms those columns. We use the `GMM` implementation in `sklearn`. To eliminate all randomness, you can implement the `save` and `load` function in `MultiModalNumberTransformer` to fix the trans

[2020-08-04 10:28] sayanddude opened #58 "Issue with tgan installation in mac"
Hi, I am getting the following error while executing the pip install tgan command:
sp$ pip install tgan
Collecting tgan
  Using cached tgan-0.1.0-py2.py3-none-any.whl (27 kB)
**ERROR: Could not find a version that satisfies the requirement tensorflow<2.0,>=1.13.0 (from tgan) (from versions: 2.2.0rc3, 2.2.0rc4, 2.2.0, 2.3.0rc0, 2.3.0rc1, 2.3.0rc2, 2.3.0)
ERROR: No matching distribution found for te

[2020-08-05 13:33] sayanddude commented on #58
The OS is mac catalina

[2020-08-07 03:49] ZagHe568 commented on #57
Hi, we tried to fix the random seed here in GaussianMixtureModel but still there's randomness. Also, could you explain more about how to "implement the save and load function in MultiModalNumberTransformer to fix the transformation"? Thanks for your time.

[2020-11-03 13:08] devmehta01 opened #59 "AttributeError: can't set attribute"
I ran all the codes that were provided in the link successfully. However, while running tgan.fit(data) it is showing an attribute error and i am not sure why. I tried backtracking to find the source of the issue but could not find anything. Can anyone please explain to me why this is happening and what could be a possible solution? Thanks.
![Capture11](https://user-images.githubusercontent.com/682

[2020-11-05 05:48] saurabhkiiti opened #60 "Error on changing parameters regarding discriminator and generator"
Hi, i whenever i change parameter such as **num_gen_rnn=100**, i get an error of `Assign requires shapes of both tensors to match. lhs shape= [10,100] rhs shape= [100,100]`

Could you tell me the correct way of choosing those parameters?

[2020-11-05 19:19] devmehta01 commented on #47
@nevermindthat how did you make "tgan experiments config_hpo.json results.jsons" line work? For me it just says invalid syntax. what was your code before this line? I will just add my code below, please let me know what changes i need to make.

!git clone https://github.com/sdv-dev/TGAN.git

cd TGAN

!make install-develop

!pip uninstall tensorflow
!pip install "tensorflow-gpu>=1.13.0,<2.0"

impor

[2020-11-12 18:00] enzodal opened #61 "Usage of discriminator as classifier"
I'm trying to "extract" the discriminator once the training of the GAN is over in order to use it as a classifier (ie. to give him new samples and to observe wether he recognizes it as a fake or a normal data).
But I'm really struggling with the implementation. Is someone able to give me a shortcut in order to use the discriminator of the trained GAN ? Thanks

[2020-12-02 16:02] mrdixitjain commented on #5
with tensorpack 0.8.9, i'm having another issue with tensorflow
it says AttributeError: module 'tensorflow' has no attribute 'VERSION'

and i'm getting same error with tensorpack 0.10.1

Traceback (most recent call last):
  File "TGAN_synthesizer.py", line 14, in <module>
    from tensorpack import *
  File "venv/lib/python3.8/site-packages/tensorpack/__init__.py", line 17, in <module>
    from te

[2020-12-08 15:19] ComputerScienceMasterStudent opened #62 "creating samples is stuck"
Hi ,

I'm creating a model using pandas, and calling fit method.
Afterwards I'm trying to create a sample, using tgan.sample(1)
code is running, but never ends. it's been running for more than a day

please advise

[2020-12-08 15:23] ComputerScienceMasterStudent commented on #62
in this case , there is an endless loop

[2020-12-08 15:23] #62 closed, assigned to nobody

[2020-12-08 15:23] ComputerScienceMasterStudent commented on #62
found the problem in the code

[2020-12-23 17:25] mrdixitjain commented on #5
what is the tensorflow version used?
i'm using tensorflow 2.4.0 and i'm getting various errors with it.

[2021-04-16 09:36] lablebi96 commented on #43
Hello, any news for this issue ??

[2021-04-19 09:26] lablebi96 opened #63 "How to work with GPU ?"
Hello, I am working with tensorflow-gpu from Docker hub. So my tensorflow version is tensorflow-gpu:latest ! Meanwhile, when I launch the GAN training it starts automatically on the CPU.
Are there some args to put to the model so that it turns on the GPU ? Is there any update about this since the issue of uninstalling tensorflow and installing tensorflow-gpu ?
Thanks in advance for your help !

[2021-07-02 12:06] MariamDundua commented on #37
Does five epoch is enough for 2000000x20 size dataframe? What is recommended one for this size of dataframe

[2021-10-29 13:48] pvk-developer opened #64 "Increase code style lint"
### Problem Description

Currently our code is being validated only by `flake8` 'vanilla' and just a few plugins. We would like to increase the code style checks by adding more add-on's that follow our code style and our standards.

Also we would like to ensure that our docstrings are properly written and follow the rest of our format.

### Additional context

We have performed this task already o

[2021-11-27 18:49] VeereshShringari opened #65 "self.training = training assignment is failing"
I just ran the code with demo dataset but self.training = training  gives an error :
[code]

[2021-12-09 13:24] AmnaAliA commented on #59
I have the same error

[2021-12-09 13:33] AmnaAliA commented on #65
same here